@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/JetBrainsMono-Regular.woff2') format('woff2');
}

body {
  font-family: 'JetBrains Mono', monospace;
}

.logoContainer {
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
}

.weatherContainer {
  display: flex;
  flex-direction: row;
}

@media (min-width: 768px) {
  .weatherContainer {
    display: flex;
    flex-direction: column;
  }
}