@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/JetBrainsMono-Regular.woff2') format('woff2');
}

html, body {
  overflow-x: hidden; /* Prevent horizontal scrolling */
  overflow-y: scroll;
}

body {
  font-family: 'JetBrains Mono', monospace;
}

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbars but still allow scrolling */
.scrollable {
  overflow: auto; /* Allow scrolling */
}

/* Webkit browsers (Chrome, Safari) */
.scrollable::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

/* Firefox */
.scrollable {
  scrollbar-width: none; /* Hide scrollbar */
}

/* IE and Edge */
.scrollable {
  -ms-overflow-style: none; /* Hide scrollbar */
}

.animated-div {
  opacity: 1;
  transform: translateY(0); /* Only vertical translation */
  transition: all 0.5s ease-out;
}

/* Preload animation */
.animated-div.preload {
  opacity: 0;
  transform: translateY(20px); /* Starts 20px lower */
}

.widget-shadow {
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
}

.drive-shadow {
  box-shadow: 1px 1px 0px 0px, 1px 1px 0px 0px, 1px 1px 0px 0px, 1px 1px 0px 0px, 3px 3px 0px 0px;
}

.page-selected {
  border-bottom-color: white;
  border-bottom-width: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  color: white;
}

.weatherContainer {
  display: flex;
  flex-direction: row;
}

.w-12 {
  width: 3rem;
}

.w-32 {
  width: 8rem;
}

.honeyhere {
  display: flex;
  justify-content: space-between;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  font-size: 0.9rem;
}

.honeyhere a:hover {
  text-decoration: underline;
  text-underline-offset: 0.4rem;
}

.neo-noir {
  color: #6b7280;
  border-width: 1px;
  border-color: #6b7280;
}

.molten-blue {
  color: darkblue;
  border-width: 1px;
  border-color: darkblue;
}

.caffeine-rush {
  color: #634832;
  border-width: 1px;
  border-color: #634832;
}

.bloodline {
  color: red;
  border-width: 1px;
  border-color: darkred;
}

@media (min-width: 768px) {
  .weatherContainer {
    display: flex;
    flex-direction: column;
  }
}