<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset='utf-8'>
  <title>Singularity</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='/static/main.css'>
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  <script src='/static/script.js'></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.1.2/chart.umd.js"></script> 
</head>
<body class="w-[100vw] h-[100vh] bg-[#020208] p-4 text-white">
  <div class="flex justify-between items-center gap-4 text-gray-400 w-[100%]">
    <img src="/static/logo.gif" alt="logo_pic" class="logoContainer w-[3rem] h-[3rem] border-[1px] border-[#6b7280] text-[#6b7280] cursor-pointer rounded-xl"/>
    <div class="logoContainer flex justify-start gap-4 w-[100%] border-[1px] border-[#6b7280] text-[#6b7280] py-2 rounded-lg pl-4">
      <span class="font-bold hover:text-white cursor-pointer text-gray-700">~/home</span>
      <span class="font-bold hover:text-white cursor-pointer text-gray-700">~/stuff</span>
    </div>
  </div>
  [[ Content ]]
</body>
</html>