<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset='utf-8'>
  <title>Singularity | {{ page_title }}</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='/static/main.css'>
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  <script src='/static/script.js'></script>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="w-[100vw] min-h-[100vh] p-4 px-6 text-white" style="background-color: {{ theme_background_color }};">
  <div class="animated-div preload flex justify-between items-center gap-4 text-gray-400 w-[100%]">
    <img src="/static/logo10.gif" alt="logo_pic" class="widget-shadow {{ widget_theme }} w-[3rem] h-[3rem] border-[1px] cursor-pointer rounded-xl"/>
    <div class="widget-shadow {{ widget_theme }} flex justify-start gap-4 w-[100%] border-[1px] py-2 rounded-lg pl-4">[[ Content ]]</div>
  </div>
  <style>
    .page-selected {
      border-bottom-color: {{ widgetHeading }};
      border-bottom-width: 2px;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  </style>
  <script>
    window.addEventListener('load', () => {
      const animatedDivs = document.querySelectorAll('.animated-div');
      setTimeout(() => {
        animatedDivs.forEach(div => div.classList.remove('preload'));
      }, 500);
    });
    document.addEventListener('DOMContentLoaded', function() {
        // Set effect velocity in ms
        var velocity = 50;
      
        var shuffleElements = document.querySelectorAll('.shuffle');
      
        shuffleElements.forEach(function(item) {
            item.setAttribute('data-text', item.textContent);
        });
      
        var shuffle = function(o) {
            for (var j, x, i = o.length; i; j = Math.floor(Math.random() * i), x = o[--i], o[i] = o[j], o[j] = x);
            return o;
        };
      
        var shuffleText = function(element, originalText) {
            var elementTextArray = [];
            var randomText = [];
      
            for (var i = 0; i < originalText.length; i++) {
                elementTextArray.push(originalText.charAt(i));
            }
      
            var repeatShuffle = function(times, index) {
                if (index === times) {
                    element.textContent = originalText;
                    return;
                }
      
                setTimeout(function() {
                    randomText = shuffle(elementTextArray.slice()); // Shuffle a copy of the array
                    for (var i = 0; i < index; i++) {
                        randomText[i] = originalText[i];
                    }
                    randomText = randomText.join('');
                    element.textContent = randomText;
                    index++;
                    repeatShuffle(times, index);
                }, velocity);
            };
      
            repeatShuffle(originalText.length, 0);
        };
      
        shuffleElements.forEach(function(item) {
            item.addEventListener('mouseenter', function() {
                shuffleText(item, item.getAttribute('data-text'));
            });
        });
    });
  </script>
  [[ Content ]]
  <div class="doc gap-4 md:flex 2xl:flex-col justify-between mb-28 mt-8">
    [[ Content ]]
  </div>
  <div class="animated-div preload honeyhere" style="color: {{ footerTheme }};">
    <a href="https://github.com/AMS003010/Singularity" target="_blank">Singularity 𖦹</a>
    <a href="https://github.com/AMS003010/Singularity/issues" target="_blank">🡤 Raise an issue</a>
  </div>
</body>
</html>